<a href="https://colab.research.google.com/github/Harshita1204/python/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
a=np.array([1,2,3,4,5])
print(a)

In [10]:
import pandas as pd
import numpy as np

In [3]:
import numpy as np
np.arange(0,20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [12]:
#import numpy as np
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [9]:
import pandas as pd
import numpy as np
pd.DataFrame(data=np.arange(0,20).reshape(5,4), index=["row1","row2","row3","row4","row5"] , columns=["column1","column2","column3","column4"])

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [13]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4), index=["row1","row2","row3","row4","row5"] , columns=["column1","column2","column3","column4"])

In [16]:
df.head(3)

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11

In [24]:
type(df)
df.info()
df.describe() # count , mean , std, min,max ,etc

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      int64
 1   column2  5 non-null      int64
 2   column3  5 non-null      int64
 3   column4  5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes

         column1    column2    column3    column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [22]:
df[['column4','column1']] #this is a type of series in panda , use 2 brackets for nested use

      column4  column1
row1        3        0
row2        7        4
row3       11        8
row4       15       12
row5       19       16

In [27]:
# iloc, loc used for accessing rows
df.loc[['row3','row1']]
df.loc['row4']

column1    12
column2    13
column3    14
column4    15
Name: row4, dtype: int64

In [ ]:
# in ilooc we have to mention the rows and columns range !
df.iloc[]