<a href="https://colab.research.google.com/github/Harshita1204/python/blob/main/DataFrameQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.DataFrame(data=np.arange(0,25).reshape(5,5), index=["row1","row2","row3","row4","row5"] , columns=["Student_id","Study_hours","Attendance(%)","Internal_marks","final_marks"])

df.loc['row1','Student_id']=101
df.loc['row2','Student_id']=102
df.loc['row3','Student_id']=103
df.loc['row4','Student_id']=104
df.loc['row5','Student_id']=105

print(df)

      Student_id  Study_hours  Attendance(%)  Internal_marks  final_marks
row1         101            1              2               3            4
row2         102            6              7               8            9
row3         103           11             12              13           14
row4         104           16             17              18           19
row5         105           21             22              23           24

In [11]:
Harshita = {
    'student_id':[101,102,103,104,105],
    'Study_hours':[2,4,6,8,10],
    'Attendance(%)':[75,80,85,90,95],
    'Internal_marks':[18,22,26,30,35],
    'final_marks':[45,55,65,75,88]
}
df = pd.DataFrame(Harshita)
print(df)

   student_id  Study_hours  Attendance(%)  Internal_marks  final_marks
0         101            2             75              18           45
1         102            4             80              22           55
2         103            6             85              26           65
3         104            8             90              30           75
4         105           10             95              35           88

In [16]:
df.head(3)

      Student_id  Study_hours  Attendance(%)  Internal_marks  final_marks
row1         101            1              2               3            4
row2         102            6              7               8            9
row3         103           11             12              13           14

In [19]:
df.tail(2)

      Student_id  Study_hours  Attendance(%)  Internal_marks  final_marks
row4         104           16             17              18           19
row5         105           21             22              23           24

In [22]:
df.describe()

       Student_id  Study_hours  Attendance(%)  Internal_marks  final_marks
count    5.000000     5.000000       5.000000        5.000000     5.000000
mean   103.000000    11.000000      12.000000       13.000000    14.000000
std      1.581139     7.905694       7.905694        7.905694     7.905694
min    101.000000     1.000000       2.000000        3.000000     4.000000
25%    102.000000     6.000000       7.000000        8.000000     9.000000
50%    103.000000    11.000000      12.000000       13.000000    14.000000
75%    104.000000    16.000000      17.000000       18.000000    19.000000
max    105.000000    21.000000      22.000000       23.000000    24.000000

In [26]:
df[['Study_hours','Attendance(%)','final_marks']].mean()

Study_hours      11.0
Attendance(%)    12.0
final_marks      14.0
dtype: float64

In [30]:
max1=df['final_marks'].max()
print(max1)

24

In [28]:
df[['final_marks']].min()

final_marks    4
dtype: int64