<a href="https://colab.research.google.com/github/Harshita1204/python/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
a=np.array([1,2,3,4,5])
print(a)

In [3]:
import numpy as np
np.arange(0,20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [4]:
import numpy as np
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [9]:
import pandas as pd
import numpy as np
pd.DataFrame(data=np.arange(0,20).reshape(5,4), index=["row1","row2","row3","row4","row5"] , columns=["column1","column2","column3","column4"])

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19